.country{
    border: 2px solid tomato;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.but{
    background-color: tomato;
    color: white;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
}
.but:hover {
  background-color: crimson; /* hover effect */
}

.country-visited{
  background-color: aquamarine;
}